@import '../styles/variables.scss';

.page-header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: calc(100vw - #{$size-5 * 2});
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color_grey_superlight;
  background: $color_white;
  padding: $size-5;

  box-shadow: -1px 7px 16px -5px rgba(0,0,0,0.63);
  -webkit-box-shadow: -1px 7px 16px -5px rgba(0,0,0,0.63);
  -moz-box-shadow: -1px 7px 16px -5px rgba(0,0,0,0.63);

  .logo {
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;

    a {
      text-decoration: none;
      white-space: nowrap;
    }
  }

  a {
    margin: $size-2 $size-5;
    font-family: $font-family-title;

    @media screen and (max-width: $breakpoint-mobile) {
      margin: $size-2 $size-4;
    }
  }

  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .categories {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .auth {
      display: flex;
      flex-direction: row;

      .username {
        font-weight: bold;
      }
    }
  }

  @media screen and (max-width: $breakpoint-mobile) {
    flex-direction: column;
    position: absolute;

    .logo {
      font-size: 24px;
      margin: $size-5 $size-6;
    }
  }
}
