@import './variables.scss';

.blog-markdown-content {
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
  width: 100%;

  p {
    margin-bottom: $size-5;
  }
  
  iframe {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: scale-down;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Staatliches;
  }

  h1 {
    font-size: 30px;
    border-bottom: 1px solid $color_grey_superlight;
    margin-bottom: $size-5;
    padding-bottom: $size-5;
  }

  h2 {
    font-size: 24px;
    margin-bottom: $size-4;
  }

  h3 {
    font-size: 20px;
    margin-bottom: $size-3;
  }

  p {
    margin-left: $size-5;
  }

  ol, ul {
    margin-bottom: $size-5;
    margin-left: $size-8;
  }

  table {
    display: block;
    margin: $size-7 $size-6;
    font-size: 11px;
    tbody {
      max-width: inherit;
    }

    tr {
      border-bottom: 1px solid $color_grey_superlight;
      padding: 0.5rem 0;
  
      td {
        padding: 1rem;
      }
    }
  }

  blockquote {
    margin: $size-7 $size-6;
    letter-spacing: 0.06rem;
    padding: 0;
    padding-left: $size-3;
    background: transparent;
    border-left: 1px solid $color_grey;
    color: $color_grey_dark;
  }
}

.blog-post {
  .content-header {
    .author {
      font-size: 11px;
      font-style: italic;
      text-align: center;
      margin-bottom: $size-5;
    }
  }

  .blog-post-hero {
    position: relative;
  }

  .blog-series-information {
    max-width: 400px;
    min-width: 300px;
    margin: $size-5;
    border-right: 1px solid $color_grey_superlight;

    .blog-series-title {
      margin: $size-5 0;
    }

    .blog-series-title, .blog-series-title a {
      font-size: 22px;
      font-family: Staatliches;
      text-align: center;
    }

    .blog-series-navigation {
      @media screen and (max-width: $breakpoint-mobile) {
        display: none;
      }
    }

    .series-intro {
      font-size: 14px;
      text-align: center;
      font-style: italic;
    }

    a {
      font-size: 11px;

      &.selected {
        font-weight: bold;
      }
    }

    @media screen and (max-width: $breakpoint-mobile) {
      border-right: none;
      border-bottom: 1px solid $color_grey_superlight;
      padding-bottom: $size-5;
    }
  }

  .blog-post-series-next-prev {
    margin: $size-5;
    padding: $size-5;
    border-top: 2px solid $color_grey_superlight;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - #{$size-5 * 2});

    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
      flex-flow: column-reverse;

      > div:last-child {
        margin-bottom: $size-5;
      }
    }
  }
}