@import './variables.scss';

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color_grey_superlight;
  background: $color_white;

  .logo {
    font-size: 38px;
    margin: $size-5;
    font-family: Staatliches;

    a {
      text-decoration: none;
      white-space: nowrap;
    }
  }

  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .categories {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      a {
        margin: $size-5;
      }
    }

    .auth {
      display: flex;
      flex-direction: row;

      .username, a {
        margin: $size-5;
      }
    }
  }

  @media screen and (max-width: $breakpoint-mobile) {
    flex-direction: column;
    position: absolute;

    .logo {
      margin-bottom: 0;
    }
  }
}