

.chip {
  font-size: 12px;
  padding: $size-2;
  margin: 0 $size-2;
  background: $color_grey_superlight;
  border-radius: $size-2;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quote {
  margin: $size-7 $size-5;
  letter-spacing: 0.02rem;
  padding: 0;
  padding-left: $size-5;
  background: transparent;
  border-left: 1px solid $color_grey;
  color: $color_grey_dark;

  .content {
    margin: 0;
    font-style: italic;
  }

  .source {
    margin-top: $size-4;
    font-size: 11px;

    text-align: right;
  }
}
