@import './flex.scss';
@import './variables.scss';
@import './layout.scss';
@import './header.scss';
@import './blog-post.scss';
@import './loader.scss';
@import './form.scss';
@import './login.scss';
@import './register.scss';
@import './comment-thread.scss';

.vertical-description-link {
  display: flex;
  flex-direction: column;
  text-align: center;

  .description {
    font-style: italic;
    font-size: 13px;
  }

  a {
    margin: $size-3 $size-8;
  }
}

.blog-post-footer {
  border-top: 2px solid $color_grey_superlight;
  padding: 1rem;

  .related-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      text-decoration: underline;
    }

    > * {
      margin: 1rem;
    }
  }
}

ul {
  list-style: disc;
}
