
@import './flex.scss';
@import './variables.scss';
@import './layout.scss';
@import './header.scss';
@import './story-cards-container.scss';
@import './story-card.scss';
@import './blog-post.scss';
@import './loader.scss';

html, body {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  position: relative;
  background: $color_white;

  .body {
    background: $color_white;
  }
}

.footer-backdrop {
  background: $color_theme_3;
  min-height: 100vh;
}

.uk-link, a {
  color: $color_black;
  text-decoration: underline;

  &:hover {
    color: $color_theme_2;
  }

  &:visited {
    color: $color_grey_dark;
  }
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.horizontal-section-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .section {
    margin: 1rem;
    padding: 0;
  }
}

.hero-image {
  height: 50vh;
  background: $color_black;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-container {
    height: 100%;
    width: 100%;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    .description {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      opacity: 0.85;
      font-size: 16px;
      color: $color_white;
      max-width: 33vw;

      @media screen and (max-width: $breakpoint-mobile) {
        max-width: none;
        right: 2rem;
      }
    }
  }
}

.vertical-description-link {
  display: flex;
  flex-direction: column;
  text-align: center;

  .description {
    font-style: italic;
    font-size: 11px;
  }

  a {
    margin: $size-3 $size-8;
  }
}

.blog-post-footer {
  border-top: 2px solid $color_grey_superlight;
  padding: 1rem;

  .related-links {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      text-decoration: underline;
    }

    > * {
      margin: 1rem;
    }
  }
}

.uk-light em {
  color: $color_black;
}

ul {
  list-style: disc;
}

.uk-section {
  margin: 1rem;
  padding: 1rem;
  margin-bottom: 0;

  @media screen and (max-width: $breakpoint-mobile) {
    margin: 1rem 0;
  }
}

.blog-title-section {
  h1, h2 {
    text-align: center;
    
  }
}

.uk-container-large {
  margin: 0;
  padding: 0;
}

table {
  margin: 0.5rem;
  width: 100%;

  tr:first-child {
    font-weight: bold;
  }

  tr {
    border-top: 1px solid $color_theme_2;
    border-bottom: 2px solid $color_theme_2;
    padding: 0.5rem 0;

    td {
      padding: 1rem;
    }
  }
}

.footer {
  background-color: $color_theme_3;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $color_white;

  ul {
    max-width: 720px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      margin: 1rem;
      list-style: none;

      a {
        text-decoration: underline !important;
      }
    }
  }
  .copyright {
    max-width: 720px;
    width: 100%;
    text-align: right;
  }
}

em {
  color: $color_theme_3;
}