$color_theme: #1b262c;
$color_theme_2: #0f4c75;
$color_theme_3: #0f4c75;
$color_theme_4: #3282b8;
$color_theme_5: #3282b8;
$color_white: #fefefe;
$color_white_transparent: rgba(240,240,240, 0.85);
$color_grey_superlight: #eeeeee;
$color_grey: #bbb;
$color_grey_light: #ddd;
$color_grey_dark: #666;
$color_black: #222;

$size-1: 0.1rem;
$size-2: 0.2rem;
$size-3: 0.3rem;
$size-4: 0.5rem;
$size-5: 0.8rem;
$size-6: 1.3rem;
$size-7: 2.1rem;
$size-8: 3.4rem;
$size-9: 5.5rem;

$breakpoint-mobile: 699px;
