@import './variables.scss';
@import './a.scss';
@import './flex.scss';
@import './headers.scss';

html {
  width: 100%;
  margin:0;
  padding:0;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  background: $color_white;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  font-family: 'Newsreader', serif;
  line-height: 1.3rem;

  .body {
    background: $color_white;
  }
}
